body {
    height: 100dvh;
    width: 100dvw;
    background-color: black;
}

div#listView {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: fit-content;
    padding: 25px;
}

div.pc {
    background-color: yellow;
    padding: 15px;
    margin: 5px;
}

div#on {
    background-color: green;
}

div#off {
    background-color: red;
}